<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Download</h1>
    <!--https://www.youtube.com/watch?v=pCeVD_jhKlw-->
    <%- include('../partials/download'); %>
  </div>
</main>
  <%- include('../partials/noscript'); %>
  <%- include('../partials/cookielogic') %>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>